
/* media query */
.container {
    max-width: 1230px !important;
}
.dashboard_navbar {
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #ffffff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform 0.3s ease;
    contain: size layout style;
    padding: 0 20px;
}
.bottom_nav_Mobile a{
   color: #3d4152;
   font-weight: 500;
}
@media (min-width: 320px) and (max-width: 767px) {
    .dashboard_navbar .navbar-brand {
        display: none;
   }
}
.dashboard_navbar .navbar-brand img {
    width: 7rem;
}
.dashboard_navbar .eat_currentAddress_head {
    display: flex;
    max-width: 260px;
    align-items: center;
}
@media (min-width: 320px) and (max-width: 481px) {
    .dashboard_navbar .eat_currentAddress_head {
        display: block;
        position: relative;
   }
}
.dashboard_navbar .eat_currentAddress_head span:nth-child(1) {
    color: #4a51d9;
    font-weight: 600;
    position: relative;
    font-size: 14px;
}
.dashboard_navbar .eat_currentAddress_head span:nth-child(1):before {
    content: '';
    position: absolute;
    /* border-bottom: 2px solid #e57a10; */
    bottom: -2px;
    width: 100%;
}
.dashboard_navbar .eat_currentAddress_head span:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #686b78;
    font-size: 14px;
    margin-left: 10px;
}
@media (min-width: 320px) and (max-width: 481px) {
    .dashboard_navbar .eat_currentAddress_head span:nth-child(2) {
        width: 250px;
        display: block;
        margin-top: p;
        position: relative;
        top: 6px;
        margin-left: 0;
        font-size: 12px;
   }
}
@media (min-width: 320px) and (max-width: 481px) {
    .dashboard_navbar .eat_currentAddress_head span:nth-child(3) {
        position: absolute;
        top: 2px;
        left: 50px;
   }
}
.dashboard_navbar .navbar-collapse {
    justify-content: flex-end;
}
@media (min-width: 320px) and (max-width: 767px) {
    .dashboard_navbar .navbar-collapse {
        flex-grow: unset !important;
        flex: unset !important;
   }
}
.dashboard_navbar .navbar-collapse .navMenu li {
    margin-right: 40px;
}
@media (min-width: 320px) and (max-width: 1023px) {
    .dashboard_navbar .navbar-collapse .navMenu li {
        display: none;
   }
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .dashboard_navbar .navbar-collapse .navMenu li {
        margin-right: 11px;
   }
}
.dashboard_navbar .navbar-collapse .navMenu li:last-child {
    margin-right: 0;
}
.dashboard_navbar .navbar-collapse .navMenu li a {
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
.dashboard_navbar .navbar-collapse .navMenu li a:hover {
    color: #4a51d9;
}

.dashboard_navbar .navbar-collapse .navMenu li a:hover svg {
    fill: #4a51d9;
    stroke: #4a51d9;
}
.dashboard_navbar .navbar-collapse .navMenu li a svg {
    position: relative;
    top: -2px;
    fill: #3d4152;
    stroke-width: 0;
}
.dashboard_navbar .navbar-collapse .navMenu li a span {
    padding-left: 10px;
}
.dashboard_navbar .navbar-collapse .navMenu li a .cart_count {
    position: relative;
    padding: 0;
}
.dashboard_navbar .navbar-collapse .navMenu li a .cart_count .cart_count_value {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-75%, -50%);
    transform: translate(-75%, -50%);
    font-size: 13px;
    font-weight: 600;
}
@media (min-width: 320px) and (max-width: 1023px) {
    .dashboard_navbar .navbar-collapse .navMenu .li_ShowMobile {
        display: inline-block !important;
        margin-right: 0 !important;
   }
}
.cat_svg {
    fill: #fff !important;
    stroke-width: 2px !important;
    stroke: #282c3f;
}

.bottom_nav_Mobile{
 display:none;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .bottom_nav_Mobile {
        background: #fff;
        position: fixed;
        height: 63px;
        width: 100%;
        bottom: 0;
        box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .1);
        display: flex;
        padding-top: 7px;
   }
    .bottom_nav_Mobile a {
        flex: 1;
        text-align: center;
   }
    .bottom_nav_Mobile a span {
        display: block;
   }
}